#content,
#content .search {
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px #d3d3d3;
  box-shadow: 0 1px 3px #d3d3d3;
  padding: 15px 20px;
}
#content h1 {
  border-bottom: ;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.page-product-manufacturer-info #content,
.page-common-home #content,
.page-home #content,
.page-product-special #content,
.page-product-search #content,
.page-product #content,
.page-category #content {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.category-list {
  margin-top: 15px;
  margin-bottom: 15px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  padding: 10px 15px;
}
.category-list ul {
  float: left;
  list-style: disc outside none;
  padding-left: 15px;
}
.category-list ul li {
  padding: 3px;
}
.category-info {
  position: relative;
}
.category-info .image {
  margin-bottom: 20px;
}
.category-info .image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.category-info .description {
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  padding: 10px 15px;
}
.manufacturer-heading {
  background: #F8F8F8;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 15px;
}
.manufacturer-list {
  border: 1px solid #DBDEE1;
  padding: 5px;
  margin-bottom: 20px;
}
.manufacturer-list ul {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
}
.manufacturer-content {
  padding: 8px;
  overflow: auto;
}
.product-filter {
  padding: 5px 0;
  margin-bottom: 10px;
}
.product-filter .sort {
  float: right;
}
.product-filter .limit {
  margin-left: 15px;
  float: right;
}
.product-filter .display {
  margin-right: 15px;
  float: left;
  padding-top: 4px;
}
.product-filter .display a {
  background-color: #fafafa;
  color: #9c9b9b;
  font-size: 14px;
  border: 1px solid #CCC;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-left: 15px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
}
.product-filter .display a > em {
  display: none;
}
.product-filter .display a.active,
.product-filter .display a:hover {
  color: #FFFFFF;
  background-color: #57a6b9;
  border: 1px solid #57a6b9;
}
.product-filter .display span {
  line-height: 30px;
}
.product-filter .form-control {
  display: inline-block;
  width: auto;
}
.product-compare {
  float: right;
  margin-left: 15px;
}
.product-compare a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.products-block .products-item {
  border-bottom: 1px solid #f3f3f3;
}
.products-block .products-item > div {
  position: relative;
}
.products-block .products-item > div:before {
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.16,#FFF),color-stop(0.53,#E3E3E3),color-stop(0.83,#FFF));
  background-image: -o-linear-gradient(bottom,#FFF 16%,#E3E3E3 53%,#FFF 83%);
  background-image: -moz-linear-gradient(bottom,#FFF 16%,#E3E3E3 53%,#FFF 83%);
  background-image: -webkit-linear-gradient(bottom,#FFF 16%,#E3E3E3 53%,#FFF 83%);
  background-image: -ms-linear-gradient(bottom,#FFF 16%,#E3E3E3 53%,#FFF 83%);
  background-image: linear-gradient(to bottom,#FFF 16%,#E3E3E3 53%,#FFF 83%);
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
.products-block .products-item > div:last-child:before {
  width: 0;
}
.products-block .products-item:last-child {
  border-bottom: none;
}
.product-list {
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
}
.product-list .col-fullwidth {
  width: 100%;
}
.product-list .products-block {
  padding: 0;
}
.product-list .products-block .products-item {
  border-bottom: none;
}
.product-list .products-block .products-item > div {
  border-bottom: 1px solid #f3f3f3;
}
.product-list .products-block .products-item > div:before {
  background: none;
}
.product-list .price-old {
  text-decoration: line-through;
}
.product-list .cart {
  margin-bottom: 3px;
}
.product-list .price-tax {
  font-weight: normal;
  color: #bbb;
}
.product-list .name {
  margin-bottom: 8px;
}
.product-list .name a {
  font-weight: bold;
  text-decoration: none;
}
.product-list .image {
  float: left;
  margin-right: 15px;
}
.product-list .image img {
  width: 100%;
}
.product-list .description {
  display: block;
}
.product-list .right {
  float: right;
  margin-left: 20px;
}
.product-list > div {
  margin-bottom: 20px;
}
.product-list > div + div {
  border-top: 1px solid ;
  padding-top: 15px;
}
.product-grid {
  position: relative;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
}
.product-info {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 3px #d3d3d3;
  box-shadow: 0 0 3px #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}
.product-info h1 {
  font-size: 22px;
}
.product-info .cart .minimum {
  padding-top: 5px;
  font-size: 13px;
  color: #999;
}
.product-info .cart .links {
  display: inline-block;
  vertical-align: middle;
}
.product-info .cart div > span {
  color: #999;
}
.product-info > .left {
  float: left;
  margin-right: 20px;
}
.product-info > .left + .right {
  margin-left: 265px;
}
.product-info .image {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.product-info .product-label-special {
  background: #70b53f;
  font-size: 14px;
  height: 28px;
  top: 10px;
  right: 10px;
  display: block;
  position: absolute;
  text-transform: uppercase;
  line-height: 28px;
  padding: 0 15px;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.product-info .quantity-adder {
  margin-bottom: 15px;
  margin-right: 10px;
  font-size: 18px;
  position: relative;
  padding-right: 20px;
}
.product-info .quantity-adder input {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 2px;
  font-size: 18px;
  height: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-info .quantity-adder span {
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  line-height: 1;
  width: 15px;
  height: 15px;
  background-color: #d0d0d0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  color: #fff;
  right: 0;
  top: 0;
}
.product-info .quantity-adder span.add-down {
  font-size: 20px;
  top: 16px;
  line-height: 14px;
}
.product-info .quantity-adder span:hover {
  background-color: #57a6b9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.product-info .product-action {
  margin-bottom: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
.product-info .product-action input {
  text-transform: uppercase;
}
.product-info .product-action.product-block .wishlist-compare {
  display: inline-block;
}
.product-info .price {
  margin-bottom: 15px;
  font-size: 22px;
  color: #57a6b9;
}
.product-info .price .price-old {
  text-decoration: line-through;
  font-size: 16px;
  color: #505050;
}
.product-info .price .reward {
  font-size: 14px;
}
.product-info .price .discount {
  font-size: 14px;
}
.product-info .price .price-tax {
  font-size: 14px;
  color: #6e6e6e;
}
.product-info .description {
  margin-bottom: 15px;
  line-height: 23px;
}
.product-info .description a {
  text-decoration: none;
}
.product-info .description span {
  font-weight: bold;
  padding-right: 15px;
}
.product-info .image-additional {
  clear: both;
  overflow: hidden;
  padding: 0 28px;
}
.product-info .image-additional a {
  float: left;
  display: block;
  margin-left: 10px;
  margin-bottom: 15px;
}
.product-info .option-image {
  margin-top: 3px;
  margin-bottom: 15px;
}
.product-info .option-image label {
  display: block;
  width: 100%;
  height: 100%;
}
.product-info .option-image img {
  margin-right: 15px;
  border: 1px solid #808080;
  cursor: pointer;
}
.product-info .option {
  margin-bottom: 15px;
}
.product-info .review {
  margin-bottom: 15px;
}
.product-info .review > div {
  line-height: 23px;
}
.product-info .share {
  margin-bottom: 15px;
  line-height: normal;
}
.product-info .share a {
  text-decoration: none;
}
.form-review .option {
  margin-bottom: 15px;
}
#related .carousel-controls {
  top: -50px;
}
#related .item {
  padding: 0 15px;
}
.review-list {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.review-list .rating {
  float: right;
  margin-bottom: 25px;
}
.review-list .author {
  float: left;
  margin-bottom: 25px;
}
.review-list .text {
  clear: both;
}
.attribute thead td,
.attribute thead tr td:first-child {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.attribute {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.attribute td {
  padding: 7px;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.attribute tr td:first-child {
  color: #000000;
  font-weight: bold;
  text-align: right;
  width: 20%;
}
.compare-info {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.compare-info .price-old {
  font-weight: bold;
  color: #F00;
  text-decoration: line-through;
}
.compare-info .price-new {
  font-weight: bold;
}
.compare-info .name a {
  font-weight: bold;
}
.compare-info td {
  padding: 7px;
  width: 20%;
  color: #4D4D4D;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.compare-info tr td:first-child {
  color: #000000;
  font-weight: bold;
  text-align: right;
}
.compare-info thead td,
.compare-info thead tr td:first-child {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  background: #F7F7F7;
  text-align: left;
}
.wishlist-info tbody .quantity,
.wishlist-info tbody .price,
.wishlist-info tbody .total,
.wishlist-info tbody .action {
  text-align: right;
}
.wishlist-info thead .name,
.wishlist-info thead .model,
.wishlist-info thead .stock {
  text-align: left;
}
.wishlist-info thead .quantity,
.wishlist-info thead .price,
.wishlist-info thead .total,
.wishlist-info thead .action {
  text-align: right;
}
.wishlist-info tbody .name,
.wishlist-info tbody .model,
.wishlist-info tbody .stock {
  text-align: left;
}
.wishlist-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #d5d5d5;
}
.wishlist-info thead .image {
  text-align: center;
}
.wishlist-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #d5d5d5;
}
.wishlist-info tbody .action img {
  cursor: pointer;
}
.wishlist-info tbody .image {
  text-align: center;
}
.wishlist-info tbody .image img {
  border: 1px solid #d5d5d5;
}
.wishlist-info tbody .price s {
  color: #57a6b9;
}
.wishlist-info td {
  padding: 7px;
}
.wishlist-info table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.order-list {
  margin-bottom: 10px;
}
.order-list .order-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.order-list .order-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
  float: left;
  width: 33.3%;
}
.order-list .order-info {
  text-align: right;
}
.order-list .order-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.order-detail {
  background: #EFEFEF;
  font-weight: bold;
}
.return-list {
  margin-bottom: 10px;
}
.return-list .return-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
  float: left;
  width: 33.3%;
}
.return-list .return-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.return-list .return-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.return-list .return-info {
  text-align: right;
}
.return-product {
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
}
.return-name {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-model {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-quantity {
  float: left;
  width: 31%;
}
.return-detail {
  overflow: auto;
  margin-bottom: 20px;
}
.return-reason {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened {
  float: left;
  width: 31%;
  margin-right: 15px;
}
.return-opened textarea {
  width: 98%;
  vertical-align: top;
}
.return-captcha {
  float: left;
}
.download-list {
  margin-bottom: 10px;
}
.download-list .download-status {
  width: 49%;
  float: right;
  text-align: right;
  margin-bottom: 2px;
}
.download-list .download-id {
  width: 49%;
  float: left;
  margin-bottom: 2px;
}
.download-list .download-content {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
  float: left;
  width: 33.3%;
}
.download-list .download-info {
  text-align: right;
}
.cart-module > div {
  display: none;
}
.cart-info tbody .name,
.cart-info tbody .model,
.cart-info tbody .quantity {
  text-align: left;
}
.cart-info thead .name,
.cart-info thead .model,
.cart-info thead .quantity {
  text-align: left;
}
.cart-info tbody .quantity input[type='image'],
.cart-info tbody .quantity img {
  position: relative;
  top: 4px;
  cursor: pointer;
  border: none;
}
.cart-info tbody .price,
.cart-info tbody .total {
  text-align: right;
}
.cart-info thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #d5d5d5;
}
.cart-info thead .image {
  text-align: center;
}
.cart-info tbody td {
  vertical-align: top;
  border-bottom: 1px solid #d5d5d5;
}
.cart-info tbody .image {
  text-align: center;
}
.cart-info tbody .image img {
  border: 1px solid #d5d5d5;
}
.cart-info tbody span.stock {
  color: #F00;
  font-weight: bold;
}
.cart-info td {
  padding: 7px;
}
.cart-info table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
.cart-total {
  border-top: 1px solid #d5d5d5;
  overflow: auto;
  padding-top: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cart-total td {
  padding: 3px;
  text-align: right;
}
.cart-total table {
  float: right;
}
.cart-info thead .price,
.cart-info thead .total {
  text-align: right;
}
.checkout-heading {
  background: #efefef;
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-weight: bold;
  font-size: 1;
  color: #555555;
  margin-bottom: 15px;
}
.checkout-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none;
}
.checkout-content {
  padding: 0px 0px 15px 0px;
  display: none;
}
.checkout-content .buttons {
  clear: both;
}
.checkout-product tbody .name,
.checkout-product tbody .model {
  text-align: left;
}
.checkout-product thead .name,
.checkout-product thead .model {
  text-align: left;
}
.checkout-product thead td {
  color: #4D4D4D;
  font-weight: bold;
  background-color: #F7F7F7;
  border-bottom: 1px solid #d5d5d5;
}
.checkout-product tfoot td {
  text-align: right;
  border-bottom: 1px solid #d5d5d5;
}
.checkout-product tbody td {
  vertical-align: top;
  border-bottom: 1px solid #d5d5d5;
}
.checkout-product td {
  padding: 7px;
}
.checkout-product table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.checkout-product tbody .quantity,
.checkout-product tbody .price,
.checkout-product tbody .total {
  text-align: right;
}
.checkout-product thead .quantity,
.checkout-product thead .price,
.checkout-product thead .total {
  text-align: right;
}
#contact-map {
  margin-bottom: 25px;
}
.contact-customhtml {
  background: none repeat scroll 0 0 #F0F0F0;
  padding: 20px;
}
.contact-address {
  margin-bottom: 25px;
}
.contact-address ul li {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.contact-address ul li i {
  color: #888;
  float: left;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.contact-address ul li span {
  display: inline-block;
  padding-left: 15px;
}
.contact-customhtml ul li {
  padding: 7px 0;
}
.contact-customhtml ul li i {
  float: left;
  font-size: 20px;
  padding: 8px 5px 6px 10px;
}
.contact-customhtml ul li span {
  display: inline-block;
  padding-left: 5px;
}
#content .content {
  margin: 10px 0;
}
